.spaced-input{
padding-top:10px;
padding-bottom:10px;
margin-top:10px;
margin-bottom:10px;
width:50%
}
.style-submit{
border-radius:50px;
height:auto;
background:blue;
color:red;
}

/***Let's Learn a standard of css ****/

.colored-fonts{
color:green;
font-weight:bold;
font-size:18px
}

.capital-txt{
text-transform:capitalize
}
.forced-font{
font-weight:bold
}
.family-italic{
font-style:italic
}
.family-bold{
font-weight:900
}
